body {

    background:papayaWhip;
    /* background: LightSteelBlue; */
    /*font-family: Comic-sans, Arial, Helvetica, sans-serif; */
    
   font-family: Georgia, serif;
   
}

.colorful {background-color:yellow;
color:red;
}

nav { 
    background: #c9ecf2;
    font-weight: bold;

}

div.side-by-side {
    display: flex;
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}

ol.resume  { 
    list-style-type: lower-roman;

}