body {

    background: papayaWhip;
    /* background: LightSteelBlue; */
    /*font-family: Comic-sans, Arial, Helvetica, sans-serif; */

    font-family: Georgia, serif;
    line-height: 1.5em;
    font-size: larger;
    margin-left:5em;
    margin-right:5em;

}

img {
   width: 89%;
   max-width: 500px;

}

figcaption {
    font-size: smaller;
    font-style: italic;
}


div.side-by-side {
    display: flex;
    background-color: lavender;
    width:90%;
    
}

figure { 
 background-color: green;

 

}

figure.trex{ 
flex:1;}

figure.newt {
    flex:1 ;
}

figure.llama {
    flex: 3;
   
}



ul.resume {
    list-style-type: circle;
    border-style: groove;
    border-color: coral;
    border-width: 7px;

}

.colorful {
    background-color: yellow;
    color: red;
}

nav {
    background: #c9ecf2;
    font-weight: bold;

}




.featureBlock {
    background-color: pink;
    font-size: smaller;
}
